html, body { height: 100%; width: 100%; margin: 0; }

#home{
	background:url(images/sketch.png) 50% 0 no-repeat fixed;
	background-size: 100% 100%;
	color: white;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
}
#profile{
	background: url(images/night2.jpg) 50% 0 no-repeat fixed;
	background-size: 100% 100%;
	color: white;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#portfolio{
	background: url(images/orangeballoon.jpg) 50% 0 no-repeat fixed;
	background-size: 100% 100%;
	color: white;
	height: 100vh;
	padding: 0;	
}

.content {
	font-family:"Damion", cursive;
	font-style:normal;
	text-align: center;
	color: white;
	margin:0px;
}

.content iframe {
	margin-top: 5%;
}
#home .content{
	font-size: 625%;
	font-weight:1000;
	text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;

}


.sidenav{
	position:fixed;
	top:10%;
	left:95%;
}

#profile .content #hash{
	font-family: 'Sigmar One';
	font-size: 375%;
	text-align: center;
	margin-top: 5%;
	width: 100%;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#profile .content #paren{
	font-family: 'Sigmar One';
	font-size: 187.5%;
	text-align: center;
	margin-top: 0%;
	width: 100%;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);


	
}


#profile .content #dev{
	font-family:'Lato';
	font-weight: 100;
	font-size: 250%;
	margin-top: 3%;
	background: rgba(0,0,0,.5);

}

.image-box img {
	width: 100%;
	height: 100%;
    z-index: 3000;
}

.hold {
	width: 20%;
	height: 30%;
	float: left;
	margin: 0 20px 0 0;
}

.image-box {
    /* Inherit width and height from the .holder */
    width: inherit;
    height: inherit;
    padding: .5%;
    /* Box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

    border-radius: 5px;
    /* Position absolutely so we can zoom it out later */
    position: absolute;
    top: 250%;
    font-family: Arial, sans-serif;
    /* Transitions to provide some eye candy */
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}

.image-box span {
    display: none;
}
 
.image-box .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4000;
    background: rgba(0,0,0,0); /* Fixes an IE bug */
}
 
.image-box .close {
    position: absolute;
    width: 10%; height: 10%;
    right: 3%; top: 4%;
}
 
.image-box .close a {
    height: auto; width: auto;
    padding: 10% 20%;
    color: #fff;
    text-decoration: none;
    background: #22272c;
    box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
    border-radius: 10%;
    font-weight: bold;
    float: right;
}
 
.image-box .close a:hover {
    box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}

div#image-1 { left: 5%; }
div#image-2 { left: 28%; }
div#image-3 { left: 51%; }
div#image-4 { left: 75% }

div[id^=image]:target {
    width: 50%;
    height: 70%;
    z-index: 5000;

}


div[id^=image]:target .close {
    display: block;

}
 
div[id^=image]:target .expand {
    display: none;
}
 
 div#image-4:target { left: 25%; top:220%; }
 div#image-3:target { left: 25%; top: 220% }
 div#image-2:target { left: 25%; top: 220% }
 div#image-1:target { left: 25%; top: 220% }


.port-title {
font-family: 'Pacifico';
font-size: 468.75%;
padding: 2%;
margin: 0px;
text-align: center;
color: #FFB347;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.port-para {
	font-family: 'Fredoka One';
	font-size: 250%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
